<section class="row">
  <div class="col-12">
    <h3 class="mb-4">Contact Us</h3>
  </div>

  <div class="col-lg-8 mb-8">
    <div class="card mb-6">
      <div class="card-header bg-primary text-white"></div>
      <div class="card-body">
        <p class="card-text">
        <p><i class="fa fa-envelope" style="font-size:24px;color:blue"></i> sales@iwysolution.com</p><br>
        <p><i class="fa fa-phone" style="font-size:24px;color:blue"></i> 705-874-6158</p><br>
      </div>
    </div>
  </div>
</section>
