<section class="row">
  <div class="col-12">
    <h3 class="mb-4">Residential Service</h3>
  </div>

  <div class="col-lg-4 mb-4">
    <div class="card mb-3">
      <div class="card-header">Computer Repair & Maintenance</div>
      <div class="card-body">
        <p class="card-text">Removing unnecessary programs and services<br>
  Cleaning temporary files,cache files as well as hidden files<br>
  Performance tuning system<br>
  Upgrading windows, software and driver<br>
  Running disk check, correcting errors and and optimizing performance<br>
  Checking power supply, fans for excess dust and debris build-up<br></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card mb-3">
      <div class="card-header">Malware</div>
      <div class="card-body">
        <p class="card-text">      Virus & worm removal<br>
    Spyware & adware removal<br>
    Stealing trojan removal<br>
    Registry cleanup<br>
    Updating windows with the latest security patches<br>
    Updating anti-virus, anti-spyware, firewall and other security programs<br>
</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card mb-3">
      <div class="card-header">BackUp Solutions</div>
      <div class="card-body">
        <p class="card-text">provider best backup solution</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card mb-3">
      <div class="card-header">Networking home office</div>
      <div class="card-body">
        <p class="card-text">Choosing best network provider <br>
  Building up home network<br>
  Configuring modem/router and switch<br></p>
      </div>
    </div>
  </div>
</section>

